<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptoments</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="paneladmin.css">
    <script type="text/javascript" src="paneladmin.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <div class="navbar navbar-dark bg-dark">
    <div class="container">
    <h1 class="navbar-brand" onclick='location.href="/index"' id="tituloHeader">CRYPTOMENTS NFT</h1>
        <div>
            <button class="btn btn-danger"onclick='location.href="/login"' type="button">Login</button>
            <button class="btn btn-info" onclick='location.href="/registration"' type="button">Registro</button>
            <button class="btn btn-warning" onclick='location.href="/principal"' type="button">Principal</button>
            <button class="btn btn-success" onclick='location.href="/colecciones"' type="button">Colecciones</button>
            <button class="btn btn-danger" onclick='location.href="/logout"' type="button">Logout</button>
            {% if usuario == "administrador"  %}
                <button class="btn btn-warning" onclick='location.href="/paneladmin"' type="button">Admin</button>
            {% endif %} 
        </div>
            
        </div>
    </div>
    <br>
    <h1 class="font-weight-bold text-center">Panel de Administrador</h1>
    <br>
    <div class="container"style="height:700px;">
        <table id="example" class="display" width="100%"></table>
    </div>
    <br>
    <footer class="bg-dark">
        <div class="container">
            <div class="row text-center py-3 texto-blanco">
                <div class="col-md-6 font-weight-light">
                    <div>Contacto</div>
                    <div>Redes Sociales</div>
                    <div>F.A.Q</div>
                    <div>SmartContract</div>
                </div>
                <div class="col-md-6  font-weight-light">
                    <div>Derechos legales Ⓒ</div>
                    <div>Tezos Blockchain</div>
                    <div>Objtk</div>
                    <div>Wallet</div>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
</body>
</html>
    
